$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
};

.table{
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
};

.pieceBoxCovered{
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
  width: 150px;
  display: flex;
  justify-content: center;
  border-radius: 2px;
  cursor: pointer;
  background-color: salmon;
  color: black
};

.pieceBoxCovered:hover{
  border: 2px solid black;
}

.pieceBoxUncovered{
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
  width: 150px;
  display: flex;
  justify-content: center;
  border-radius: 2px;
  cursor: pointer;
  color: black
};